@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp4616796.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}